:root {
  --box-card-dark: #14213D;
  --header-light: #fca311;
  --footer-light: #0072bb;
  --background-header: #3e739e;
  --background-color: aliceblue;
  --light: #fff;
  --background: rgba(0, 0, 0, 0.6);
}

/*universal selector*/
* {       
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
* h2 {
  font-size: 50px;
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}


/* Header */
header {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-content:center;   /*parent element of header h1 tag*/
  background-color: var(--footer-light);
}

/* Navigation Bar */
header nav {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 35px;
  display: flex;  /*parent element of <ul> tag*/
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-content: flex-end;

}

header nav h1.main-header {
  color: var(--header-light);
  font-size: 60px;
  font-weight: 900;
  margin-right: 60%;
}

header nav ul {
  display: flex;   /*parent element of <a> tag*/
  font-size: 25px;
  margin-top: 20px;
}

header nav ul li a {
  display: flex;
  color: var(--header-light);
}


/* Main */
main {
  display: flex;
  padding-top: 2%;
  flex-wrap: wrap;
  background-color: var(--background-color);
}

/* About Me section*/
section.container {
  border: var(--header-light) 5px solid;
  background-color: #ffe5bb;
  color: var(--box-card-dark);
  margin-bottom: 50px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  border-radius: 20px;
}

section.container h2 {
  padding-top: 20px;
  display: block;
  text-align: center;
}

section.container div {
  padding: 15px;
  display: flex;
  align-items: center;
  margin-top: -10px;
}

section.container div img.profile-pic {
  display: flex;
  border-radius: 20px;
}
section.container div.bio-about-me  {
  display: inline;
  text-align: center;
  font-size: 15px;
  font-weight:700;
  line-height: 35px;
}


/* Projects section */
section.projects div {
  flex: 4;
  padding: 20px;
  display: flex;
  flex-wrap: wrap; 
 justify-content: center;
}

section.projects h2 {
  display: block;
  text-align: center; 
  margin: auto;
}

.box-card {
  flex: 0 0 0px;
  border: var(--header-light) 5px dotted;
  border-radius: 20px;
  justify-content: space-between;
  padding: 10px;
  color: var(--header-light);
  margin: 15px;
  width: 100%;
  position: relative;
}

.box-card#first-card img{
  width: 1200px;
  height: 400px;
}

section div article p {
  font-size: 20px;
  font-weight: 700;
  padding-top: 5px;
}

.box-card:hover {
  position: relative;
  height: auto;
  display: block;
  z-index: 99;
}

.box-card h3 {
  padding: 20px;
  background: var(--footer-light);
  color: var(--light);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-size: 20px;
}

.box-card img {
  width: 100%;
  height: 300px;
  min-width: 550px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;
}

/* Image hover overlay effect */
.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--background);
  color: var(--light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
  border-radius: 20px;
}
.image-overlay:hover {
  opacity: 1;
}


/* Footer */
#footer {
  background-color: var(--footer-light);
  text-align: center;
  width: 100%;
  margin-bottom: -20px;
}

footer h2 {
  color: var(--light);
  padding-top: 10px;
}

#contact > a li{
  display: inline-block;
  margin: 0;
  padding: 40px;
  padding-top: 5px;
  color: var(--light);
  font-size: 25px;
  text-decoration: underline;
}



/* Media query for responsive layout */
@media screen and (min-width: 480px) and (max-width: 576px) {
  header {
    display: flex;
    width: 100%;
  }
  header nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
  }
  nav h1.main-header {
    display: flex;
    justify-content: flex-start;
    font-size: 30px;
  }
  nav ul{
    font-size: 20px;
    display: flex;
  }
  
  section#about-me {
    display: flex;
  }
  section#about-me h2 {
    padding-top: 20px;
    text-align: center;
    
  }
  section#about-me div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  section#about-me div img {
    border-top-right-radius: 20px;
    margin-top: 10px;
  }
  div.bio-about-me {
    font-size: 25px;
  }
  a img.thumbnail {
    min-width: 400px;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  
  
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .box-card#first-card img{
    width: 100%;
    
  }
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .box-card#first-card img{
    width: 100%;
    
  }
}
@media screen and (max-width: 1201px) {
  header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .box-card#first-card img{
    width: 100%;
    
  }
}



