:root {
  --dark: #000;
  --box-card-dark: #14213D;
  --header-light: #fca311;
  --background-color: #e5e5e5;
  --light: #fff;
}
/*universal selector*/
* {       
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background-color);
  margin: 0;
}
/* Header */
header {
  width: 100%;
  display: flex;   /*parent element of header h1 tag*/
  flex-flow: row nowrap;
  justify-content: space-between;
}
header h1 {
  color: var(--header-light);
  font-size: 90px;
  margin-left: 20px;
}
/* Navigation Bar */
header nav {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  display: flex;  /*parent element of <ul> tag*/
}

header nav ul {
  display: flex;   /*parent element of <a> tag*/
}
header nav ul a {
  display: flex;   /*parent elemnt of <li> tag*/
  flex-flow: column nowrap;  /*main axis up and down*/
  justify-content: flex-end;
}

header nav ul a li {
  margin-right: 20px;
  color: var(--header-light);
  text-decoration: 25px;
  text-decoration: underline;
  margin-bottom: 5px;
}
/*Hero image of white angles and lines."*/
.hero-image {
  height: 200px;
  width: 100%;
  background-image: url("https://media.istockphoto.com/photos/white-chaotic-multi-layered-planes-3d-illustration-picture-id498535442?k=20&m=498535442&s=612x612&w=0&h=RJ30Y3nyYQ8R1jEksfoIbiaWszir6I4NTgP4uov_cCM=");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 30%;
}
/* Main */
main {
  display: flex;
  margin-top: 2%;
  flex-wrap: wrap;
}
/* Section */
.box-card {
  flex: 0 0 0;
  justify-content: space-between;
  padding: 60px;
  background: var(--background-color);
  color: var(--header-light);
}

.box-card header {
  padding: 20px;
  background: var(--box-card-dark);
  color: var(--light);
}
.box-card img {
  width: 100%;
  min-width: 725px;
}



