:root {
  --box-card-dark: #14213D;
  --header-light: #fca311;
  --footer-light: #0072bb;
  --background-header: #219ebc;
  --background-color: #cae9ff;
  --light: #fff;
}
/*universal selector*/
* {       
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background-color);
  margin: 0;
}
* h2 {
  font-size: 50px;
}
/* Header */
header {
  width: 100%;
  display: flex;   /*parent element of header h1 tag*/
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color: var(--background-color);
}
header h1 {
  color: var(--header-light);
  font-size: 90px;
  margin-left: 20px;
  font-weight: bold;
}
/* Navigation Bar */
header nav {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 35px;
  display: flex;  /*parent element of <ul> tag*/
}

header nav ul {
  display: flex;   /*parent element of <a> tag*/
}
header nav ul a {
  display: flex;   /*parent elemnt of <li> tag*/
  flex-flow: column nowrap;  /*main axis up and down*/
  justify-content: flex-end;
}

header nav ul a li {
  margin-right: 20px;
  color: var(--header-light);
  text-decoration: 25px;
  text-decoration: underline;
  margin-bottom: 5px;
  padding-right: 30px;
}
/*Main banner image of white angles and lines."*/
.hero-image {
  height: 200px;
  width: 100%;
  background-image: url("https://media.istockphoto.com/photos/white-chaotic-multi-layered-planes-3d-illustration-picture-id498535442?k=20&m=498535442&s=612x612&w=0&h=RJ30Y3nyYQ8R1jEksfoIbiaWszir6I4NTgP4uov_cCM=");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 30%;
}










/* Main */
main {
  display: flex;
  margin-top: 2%;
  flex-wrap: wrap;
}

/* About Me section*/
section.about-me {
  border: var(--header-light) 5px dotted;
  color: var(--box-card-dark);
  margin-bottom: 50px;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  border-radius: 20px;
}
section.about-me h2 {
  padding-top: 20px;
  display: block;
  text-align: center;
}
section.about-me div {
  padding: 40px;
  display: flex;
  align-items: center;
}
section.about-me div img.profile-pic {
  display:inline-flex;
  width: 300px;
  height: 300px;
}
section.about-me div.bio-about-me  {
  display: inline;
  border: var(--footer-light) 2px solid;
  text-align: center;
  font-size: 25px;
  line-height: 35px;
}
















/* Projects section */
section.projects div {
  flex: 4;
  background-color: var(--background-color);
  padding: 20px;
  display: flex;
  flex-wrap: wrap; 
 justify-content: center;
}
section.projects h2 {
  display: block;
  text-align: center; 
  margin: auto;
}

.box-card {
  flex: 0 0 0px;
  border: var(--header-light) 5px dotted;
  border-radius: 20px;
  justify-content: space-between;
  padding: 10px;
  background: var(--background-color);
  color: var(--header-light);
  margin: 10px;
  width: 100%;
}

.box-card#first-card img{
  width: 1200px;
  height: 500px;
}
section div article p {
  font-size: 15px;
  font-weight: 700;
}
.box-card:hover {
  position: relative;
  height: auto;
  display: block;
  z-index: 99;
}

.box-card h3 {
  padding: 20px;
  background: var(--footer-light);
  color: var(--light);
}
.box-card img {
  width: 100%;
  min-width: 725px;
}














#footer {
  margin-top: 10px;
  padding: 20px;
  background-color: var(--footer-light);
  text-align: center;
  
}
footer h2 {
  color: var(--light);
}

#contact > a li{
  display: inline-block;
  margin: 0;
  padding: 30px;
  color: var(--light);
  font-size: 25px;
  text-decoration: underline;
}


/* @media screen and (min-width: 500px) { 
  p {
    font-size: .75rem;
  }
} 
@media screen and (min-width: 600px) { 
  p {
    font-size: 1rem;
  }
} 
@media screen and (min-width: 800px) { 
  p {
    font-size: 1.5rem;
    line-height: 1.5;
  }
} 
@media screen and (min-width: 1000px) { 
  p {
    font-size: 2rem;
    line-height: 2.0;
  }
}  */
/* @media screen and (max-width:1200px) and (min-width:768px) {
  
}
@media (max-width:1024px) {

}
@media (max-width:768px)

desktop:1200px
laptop:1024px
tablet:768px
phone:480px */

